/*
* hex-rgb-converter.css
* https://github.com/xyti/omnitools/blob/main/src/assets/hex-rgb-converter.css
* https://xyti.github.io/omnitools/assets/hex-rgb-converter.css
* 
* By xyti, https://github.com/xyti
*
* License : https://github.com/xyti/omnitools/blob/main/LICENSE (AGPL-3.0)
* source  : https://github.com/xyti/omnitools
*/
body {
    margin: 0;
}
.bgcolor {
    background-color: #222222;
}
h2, h3, h4, h5, a, span {
    color: white;
}
label {
	color: black;
    vertical-align: middle;
}
h2, h3, label, textarea {
    font-family: Arial, Helvetica, sans-serif;
}
.maxwidth {
    max-width: 500px;
}
.selectcontainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}
.selectcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.selectcheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.selectcontainer:hover input ~ .selectcheckmark {
  background-color: #66ad57;
}
.selectcontainer input:checked ~ .selectcheckmark {
  background-color: #66ad57;
}
.selectcheckmark:after {
  content: "";
  position: absolute;
  display: none;
}
.selectcontainer input:checked ~ .selectcheckmark:after {
  display: block;
}
.selectcontainer .selectcheckmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=button]:hover {
    background-color: #45a049;
}
div.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=text], input[type=number], textarea {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number] {
	width: 20%;
}
textarea {
  height: 100px;
  resize: vertical;
}
.switchtoggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switchtoggle input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slidertogglerp {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slidertogglerp:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  input:checked + .slidertogglerp {
    background-color: #2196F3;
}
  input:focus + .slidertogglerp {
    box-shadow: 0 0 1px #2196F3;
}
  input:checked + .slidertogglerp:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  .slidertogglerp.roundshaped {
    border-radius: 34px;
}
  .slidertogglerp.roundshaped:before {
    border-radius: 50%;
}
#rgbtohex {
	display: none;	
}
